---
import Base from "@/layouts/Base.astro";
import Intro from "@/components/Intro.astro";
import About from "@/components/About.astro";
import Education from "@/components/Education.astro";
import Certs from "@/components/Certs.astro";
import Skills from "@/components/Skills.astro";
import Work from "@/components/Work.astro";
import Projects from "@/components/Projects.astro";
import { getCollection } from "astro:content";

const name = "Christian Diaz";
const titles = [
  "Site Reliability Engineer.",
  "Cloud Engineer.",
  "DevOps Engineer.",
];
const workExperience = (await getCollection("experience")).sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder,
);
const education = await getCollection("education");
const certifications = (await getCollection("certs")).sort((a, b) => {
  const aDate = a.data.issued
    ? new Date(a.data.issued)
    : new Date("9999-12-31"); // Future date if 'issued' is missing
  const bDate = b.data.issued
    ? new Date(b.data.issued)
    : new Date("9999-12-31");

  return bDate.getTime() - aDate.getTime();
});

const fade_delay = 0.2;
---

<Base title=`${name} | Resume`>
  <main class="max-w-2xl mx-auto py-12 sm:py-24 px-6 bg-background">
    <Intro name={name} titles={titles} fade_delay={fade_delay} />
    <br />
    <About fade_delay={fade_delay} />
    <br />
    <Work fade_delay={fade_delay} workExperience={workExperience} />
    <br />
    <Education education_items={education} fade_delay={fade_delay} />
    <br />
    <Certs certifications={certifications} fade_delay={fade_delay} />
    <br />
    <Skills fade_delay={fade_delay} />
    <br />
    <Projects fade_delay={fade_delay} />
  </main>
</Base>
