---
import Base from "@/layouts/Base.astro";
import Intro from "@/components/Intro.astro";
import About from "@/components/About.astro";
import { getEntry } from "astro:content";
import Work from "@/components/Work.astro";
import { getCollection } from "astro:content";
import { data } from "framer-motion/client";

const name = "Christian Diaz";
const titles = [
  "Site Reliability Engineer.",
  "Cloud Engineer.",
  "DevOps Engineer.",
];
const bio = await getEntry("bio", "main");
const workExperience = (await getCollection("experience")).sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder
);
const fade_delay = 0.2;
---

<Base title=`${name} | Resume`>
  <main>
    <Intro name={name} titles={titles} fade_delay={fade_delay} />
    <br />
    <About summary={bio.body} fade_delay={fade_delay} />
    <br />
    <Work fade_delay={fade_delay} workExperience={workExperience} />
  </main>
</Base>
